[Unit]
Description=Minecaft Server

[Service]
WorkingDirectory=/opt/minecraft
ExecStart=/opt/minecraft/service.sh start
ExecStop=/opt/minecraft/service.sh stop
Type=single
Restart=always

[Install]
WantedBy=multi-user.target
